.blue{
    color:#2196f3;
}
.bg-blue{
	background-color:#2196f3;
}
.red{
	color: #e61313;
}
.bg-red{
	background-color: #e61313;
}
.grix{
	color:#969696;
}
.bg-grix{
	background-color: #969696;
}
.orange{
	color: #ff5722;
}
.bg-orange{
    background-color: #ff5722; 
}
.green{
	color: #00b517;
}
.bg-green{
    background-color: #00b517;
}
.brown{
    color: #795548; 
}
.bg-color{
    background-color: #795548,
}
.pink{
	color: #ff3c7e
}
.bg-pink{
   background-color: #ff3c7e
}

