* {
	text-align: left;

}
var{
	display: block;
}
.scarte{
	margin: 2rem auto;
	padding: 1rem;
	border: 1px solid #ccc;
	border-radius: 10px;
}
.scarte main .card .table tbody tr th{
	padding: 0 10px;
}
.scarte main .card .table tbody tr td{
	padding: .6rem;
}
.scarte main .card .table tbody tr td *{
	font-size: .91111rem;
	text-align: left;
}
.scarte main .card .table tbody tr td figure.itemside{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.scarte main .card .table tbody tr td  figure.itemside img{
	width: 70px;
	height: 70px;
	margin-right: 10px;
}
.scarte main .card .table tbody tr td figure.itemside figcaption.info{
	padding: 8px 0;
}

.scarte main .card .table tbody tr td figure.itemside figcaption.info a{
     color: #000;
     font-size: .92222em;
     line-height: 1.6;
}
.scarte main .card .table tbody tr td figure.itemside figcaption.info p{
     color: #ccc;
     line-height: 1.4;
     
}
.scarte main .card .table tbody tr td select{
    width: 80px;
    height: calc(1em + 0.9rem + 1.2px);
    padding: 0.2rem 1rem 0.2rem 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.37rem; 
    word-wrap: normal;
    text-transform: none;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.scarte main .card .table tbody tr td select:focus{
	z-index: 3;
	border-color: #a5bdf6;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(49, 103, 235, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(49, 103, 235, 0.25);

}


