.fade.in{
    opacity: 1;
}
.modal{
    overflow-x: hidden;
    overflow-y: auto;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
.modal {
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
@media (min-width: 768px){
    .modal .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
}
.modal .modal-dialog .modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.modal-header{
    border-bottom-color: #f4f4f4;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-family: 'Source Sans Pro',sans-serif;
    font-
}.fade.in{
    opacity: 1;
}
.modal{
    overflow-x: hidden;
    overflow-y: auto;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
.modal {
    background: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
@media (min-width: 768px){
    .modal .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
}
.modal .modal-dialog .modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.modal-header{
    border-bottom-color: #f4f4f4;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 500;
}
.modal-body{
    position: relative;
    padding: 15px;
}
.form-group{
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    content: " ";
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 15px;
    width: 100%
}
.control-label{
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
    width: 25%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: .9em;
    font-weight: 700;
}
.input{
    width: 75%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.input input{
    display: block;
    width: 100%;
    height: 34px;
    padding: 0 12px;
    font-size: 14px;
    line-height: 1.42857143;
}
.input textarea{
    display: block;
    width: 100%;
    height: 34px;
    padding: 0 12px;
    font-size: 14px;
    line-height: 1.42857143;
}
.modal-footer{
    border-top-color: #f4f4f4;
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.modal-footer button:nth-child(1){
    float: left;
}
.modal-footer button:nth-child(2){
    background-color: #3c8dbc;
    border: 0;
    outline: 0:
    border-color: #367fa9;
    
    color: #fff;
}
.modal-footer button:nth-child(2):hover{
    background-color: #0a4d74;
   
}

    
.modal-footer button{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}