/*pour tpo bar drop down change*/


/*end top bar drowp down change */

button{
    cursor: pointer
}
.user-show{
    background-color: #fff;
    /*-webkit-box-shadow:0px -1px 1px 2px #ccc;
    -moz-box-shadow:0px -1px 1px 2px #ccc;
    box-shadow:0px -1px 1px 2px #ccc;*/
}
.user-show .container .head{
    padding: 15px;
    border-bottom: 1px solid #ccc
}
.user-show .container .head a{
    font-size: .75em;
    padding: 8px;
    background-color: #3c8dbc;
    color: white;
}
.user-show .container .content-box{
    padding: 15px;
}
.user-show .container .content-box table td{
    border: 1px solid #f4f4f4;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    font-size: .9em
}
.user-show .container .content-box table th{
    border: 1px solid #f4f4f4;
    border-bottom: 3px solid #f4f4f4;
    padding: 5px 10px;
    font-size: .9em;
}
.user-show .container .content-box table{
    border-collapse: collapse;
    margin: auto;
    width: 100%;
}
.user-show .container .content-box table tr td:nth-child(1) {
    text-align:center;
    
}
.user-show .container .content-box table tr td:last-child > * {
    padding: 9px;   
    margin: 0 5px;
    outline: 0;
    border: 0;
    font-size: .8em;
    color: #fff;
    opacity: .8;
}
.user-show .container .content-box table tr td:last-child > button :hover{
    opacity: 1;
}
.user-show .container .content-box table tr td:last-child > a{
    background-color: #00c0ef;
}
.user-show .container .content-box table tr td:last-child > button:nth-child(2){
    background-color: #008d46;
}

.user-show .container .content-box table tr td:last-child > button:nth-child(3){
    background-color: #d73925;
}
.content-box table tr td > span{
    display: block;
    color: #5c91ef;
    font-size: .9em;
}
